# Python virtual environment
.venv/

# Environment variables file
.env

# Python bytecode files
*.pyc
__pycache__/

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# databases
*.db
